<h2>My notes</h2>

<!-- <ul class="notes">
  <li *ngFor="let note of notes">
    <button [class.selected]="note === selectedNote" type="button" (click)="onSelect(note)">
      <span class="badge">{{note.id}}</span>
      <span class="title">{{note.title}}</span>
    </button>
  </li>
</ul> -->

<!-- <div *ngIf="selectedNote">
  <h2>{{selectedNote.name | uppercase}} Details</h2>
  <div>id: {{selectedNote.id}}</div>
  <div>
    <label for="note-name">note name: </label>
    <input id="note-name" [(ngModel)]="selectedNote.name" placeholder="name">
  </div>
</div> -->
