<div class="navigation">
    <div id="navbarText">
        <a class="btn btn-primary btn-block my-btn" href="/login" (click)="deleteCookie()">Logout</a>
    </div>

    <div id="navbarText">
        <a class="btn btn-primary btn-block my-btn" (click)="routeToAddNote()">New note</a>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <ul class="notes">
                <li *ngFor="let note of notes">
                    <button [class.selected]="note === selectedNote" type="button">
                        <span class="badge">{{note.noteId}}</span>
                        <span class="title">{{note.title}}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-note [note]="selectedNote"></app-note>
