.navigation {
    display: inline-block;
    width: max-content;
}

.my-btn {
    width: 100%;
    background: linear-gradient(90deg, #776BCC, #aaa7f1);
    border: #776BCC;
    margin: 1rem 1rem 1rem 1rem;
}

.navigation {
    color: white;
}
